<div class="article-liked-container mx-2 mx-sm-4 mx-lg-0">
    <div class="article-post-body">
        <div
            class="article-post-list row gx-0 px-2 text-white row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center mb-4">
        </div>
        <div class="article-post-loading d-flex align-items-center justify-content-center  mb-4 d-none">
            <div>
                <div class="loader the-bar-loader"></div>
            </div>
        </div>
        <div class="last-page-message d-none mb-4">
            <h6 class="text-white text-center">Semua artikel telah ditampilkan.</h6>
        </div>
    </div>
</div>