<div class="home-container text-white mx-3 mx-sm-4">
    <div class="recomendation-content mb-3">
        <div class="popular-recipes-container mb-4">
            <h5 class="mb-3 text-center">10 Resep terpopuler</h5>
            <div class="popular-recipes d-flex column-gap-2 column-gap-sm-3 overflow-x-scroll p-2 pb-5 scrollbar-none">
            </div>
        </div>
        <div class="popular-articles-containerr">
            <h5 class="mb-3 text-center">10 Artikel terpopuler</h5>
            <div class="popular-articles d-flex column-gap-2 column-gap-sm-3 overflow-x-scroll p-2 pb-5 scrollbar-none">
            </div>
        </div>
    </div>
    <div class="about-us mx-3 d-block d-md-flex justify-content-center">
        <picture class="m-auto me-md-4 mt-md-0 mb-md-auto pb-4 d-flex w-100 align-items-center justify-content-center">
            <source media="(max-width: 720px)" srcset="">
            <source media="(min-width: 721px)" srcset="">
            <img alt="" width="90" height="90" class=" mx-auto rounded-circle " src="./public/img/qulinery-lg.png">
        </picture>
        <div class="about-us-body cols-8 text-center d-inline-block">
            <p>
                Selamat datang di platform kuliner kami, tempat di mana para pecinta kuliner Indonesia dapat berbagi
                cerita, resep, dan
                pengalaman kuliner mereka. Kami menciptakan situs ini karena kami percaya bahwa kekayaan kuliner
                Indonesia patut dikenal
                oleh dunia, tidak hanya oleh masyarakat lokal tetapi juga wisatawan asing yang tertarik dengan sejarah
                dan keunikan
                kuliner Indonesia. Melalui fitur komentar, kami berharap dapat membangun komunitas yang saling mendukung
                dan
                menginspirasi satu sama lain dalam mengeksplorasi dan mempromosikan kuliner Indonesia. Kami yakin,
                platform ini dapat
                menjadi sumber informasi berharga serta media promosi yang efektif bagi kekayaan kuliner Indonesia.
            </p>
        </div>
    </div>
</div>