<div class="home-container text-white ">
    <div class="hero-container position-relative mb-4">
        <div class="hero-img-wrapper">
            <picture>
                <!-- <source media="(max-width: 670px)" srcset="./public/img/hero-img-small.webp"> -->
                <!-- <source media="(min-width: 671px)" srcset="./public/img/hero-img-large.webp"> -->
                <img src="./public/img/hero-img.jpg" alt="">
            </picture>
        </div>
        <div
            class="hero-content-wrapper position-absolute top-0 h-100 w-100 pt-5  d-flex flex-column justify-content-center align-items-center text-white w-75 px-4 text-center">
            <h2>Indonesian Culinary</h2>
            <p>Share your recipes and food experience here.</p>
        </div>
    </div>
    <div class="recomendation-content mx-3 mb-3">
        <div class="popular-recipes-container mb-2">
            <h5 class="mb-3">Top 10 recipes</h5>
            <div class="popular-recipes d-flex column-gap-2 overflow-x-scroll p-2 pb-3">

            </div>
        </div>
        <div class="popular-articles-containerr">
            <h5 class="mb-3">Top 10 articles</h5>
            <div class="popular-articles d-flex  column-gap-2  overflow-x-scroll p-2 pb-3">
            </div>
        </div>
    </div>
    <div class="about-us mx-3">
        <h1>About Us</h1>
        <picture class="placeholder-glow d-flex my-3">
            <source media="(max-width: 720px)" srcset="">
            <source media="(min-width: 721px)" srcset="">
            <img alt="" width="44" height="44" class="placeholder mx-auto rounded-circle ">
        </picture>
        <div class="about-us-body">
            <p>
                Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page
                might look:
            </p>
            <p>
                Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite
                perfect nostrud nisi
                intricate Content. Qui international first-class nulla ut. Punctual adipisicing, essential lovely queen
                tempor eiusmod
                irure.
            </p>
        </div>
    </div>
</div>