<div class="home-container text-white mx-3 mx-sm-4">
    <div class="recomendation-content mb-3">
        <div class="popular-recipes-container mb-4">
            <h5 class="mb-3 text-center">10 Resep terpopuler</h5>
            <div class="popular-recipes d-flex column-gap-2 column-gap-sm-3 overflow-x-scroll p-2 pb-5 scrollbar-none">
            </div>
        </div>
        <div class="popular-articles-containerr">
            <h5 class="mb-3 text-center">10 Artikel terpopuler</h5>
            <div class="popular-articles d-flex column-gap-2 column-gap-sm-3 overflow-x-scroll p-2 pb-5 scrollbar-none">
            </div>
        </div>
    </div>
    <div class="about-us mx-3">
        <h1>About Us</h1>
        <picture class="placeholder-glow d-flex my-3">
            <source media="(max-width: 720px)" srcset="">
            <source media="(min-width: 721px)" srcset="">
            <img alt="" width="44" height="44" class="placeholder mx-auto rounded-circle ">
        </picture>
        <div class="about-us-body">
            <p>
                Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page
                might look:
            </p>
            <p>
                Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite
                perfect nostrud nisi
                intricate Content. Qui international first-class nulla ut. Punctual adipisicing, essential lovely queen
                tempor eiusmod
                irure.
            </p>
        </div>
    </div>
</div>