<div class="kuliner-container mx-2 mx-sm-4 mx-lg-0">
    <div class="kuliner-post-header d-flex justify-content-between column-gap-2 px-2 mb-4">
        <button type="button" class="new-post-btn btn btn-primary pt-1">
            <span class="ms-1">New</span>
            <a href="/post-article" is="link-router"></a>
        </button>
        <form action="" class="search-bar pb-2 ">
            <input type="text" placeholder="Cari..." class="search-input pt-1" name="keyword">
            <button class="search-btn pt-1"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <div class="kuliner-post-body">
        <div
            class="kuliner-post-list row gx-0 px-2 text-white row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center mb-4">
        </div>
        <div class="kuliner-post-loading d-flex align-items-center justify-content-center  mb-4 d-none">
            <div>
                <div class="loader the-bar-loader"></div>
            </div>
        </div>
        <div class="last-page-message d-none mb-4">
            <h6 class="text-white text-center">Semua resep telah ditampilkan.</h6>
        </div>
    </div>
</div>