<div class="article-detail-container text-white">
    <div class="article-content">
        <div class="thumbnail-wrapper position-relative mb-4">
            <picture class="article-thumbnail-img  d-block overflow-hidden rounded mb-1">
                <img alt="" class="w-100 object-fit-cover  bg-secondary">
            </picture>
            <div class="thumbnail-text position-absolute top-0 d-flex align-items-center justify-content-center">
                <div class="thumbnail-text-wrapper ps-4 border-2 border-start">
                    <h2 class="article-title">Title</h2>
                    <small class="author-name"><i>By:&nbsp;<span>Your Name</span></i></small>
                    <p class="date-published">Short desc</p>
                    <span class="article-category badge text-bg-danger">Category</span>
                    <span class="badge text-bg-light text-danger px-2 like-button">
                        <button is="switch-button" class="like-btn p-0 me-1" is-active="false">
                            <i class="bi bi-heart inactive" style="display: inline;"></i>
                            <i class="bi bi-heart-fill active" style="display: none;"></i>
                        </button>
                        <span class="like-count bg-transparent">
                        </span>
                        <span>&nbsp;Disukai</span>
                    </span>
                </div>
            </div>
            <div class="position-absolute bottom-0 end-0 delete-content d-none">
                <button class="rounded-circle text-white me-3 mb-3 btn btn-danger">
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </div>
        </div>
        <div class="article-detail-body px-3">
            <div class="article-detail-body-description mt-1 mb-3 ql-editor ql-editor-output">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos praesentium nesciunt error magni
                molestias
                vel
                provident quos dolorem in vero nihil, deserunt natus, odio voluptate sunt asperiores a quam
                voluptas.
            </div>
        </div>
    </div>
    <div class="article-comment mx-auto mt-5 border border-1 rounded-2 p-3" id="comment-field">
        <div class="comment-header border-bottom d-flex align-items-center mb-2 justify-content-between px-1 pb-2">
            <p class="mb-0 px-3">
                <span class="comment-count">0</span>
                &nbsp;Komentar
            </p>
        </div>
        <div class="">
            <div class="bg-dark">
                <div class="new-comment d-flex mb-2">
                    <picture class="bg-white  w-25 overflow-hidden rounded-circle d-none d-sm-block me-2 me-sm-4"
                        style="aspect-ratio: 1/1; height: 100%; min-width: 52px;max-width: 52px;">
                        <img alt="" class="">
                    </picture>

                    <div class="new-comment-editor-container bg-white text-black rounded overflow-hidden flex-grow-1">
                        <div id="komentar-editor">
                        </div>
                        <div class="w-100 d-flex">
                            <button type="button"
                                class="post-new-comment ms-auto me-2 my-2 btn btn-primary">Komentar</button>
                        </div>
                    </div>
                </div>
                <div class="comment-sub-header mb-2">
                    <form class="d-flex column-gap-2 justify-content-end p-2 my-2">
                        <div class="comment-sort-by">
                            <input type="radio" name="sort-by" value="?sort=new" id="terbaru" class="d-none" checked>
                            <label for="terbaru">Terbaru</label>
                        </div>
                        <div class="comment-sort-by">
                            <input type="radio" name="sort-by" value="?sort=old" id="terlama" class="d-none">
                            <label for="terlama">Terlama</label>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <div class="comment-container d-flex flex-column row-gap-2 ">
                </div>
                <div class="d-flex justify-content-center gap-2 mt-2">
                    <button type="button" class="btn btn-outline-primary" id="load-more">
                        <span>Lebih banyak</span>
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <a class="btn btn-primary" href="javascript:void(0)" id-target="comment-field"
                        onclick="
                        document.getElementById(this.getAttribute('id-target')).scrollIntoView({ behavior: 'smooth' })">
                        <span>Komentar</span>
                        <i class="bi bi-chat-text ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>