<div class="article-detail-container text-white">
    <div class="article-content">
        <div class="thumbnail-wrapper position-relative mb-4">
            <picture class="article-thumbnail-img  d-block overflow-hidden rounded mb-1">
                <img alt="" class="w-100 object-fit-cover  bg-secondary">
            </picture>
            <div class="thumbnail-text position-absolute top-0 d-flex align-items-center justify-content-center">
                <div class="thumbnail-text-wrapper ps-4 border-2 border-start">
                    <h2 class="article-title">Title</h2>
                    <small class="author-name"><i>By:&nbsp;<span>Your Name</span></i></small>
                    <p class="date-published">Short desc</p>
                    <span class="article-category badge text-bg-danger">Category</span>
                    <span class="badge text-bg-light text-danger px-2">
                        <button is="switch-button" class="like-btn p-0 me-1" is-active="false">
                            <i class="bi bi-heart inactive" style="display: inline;"></i>
                            <i class="bi bi-heart-fill active" style="display: none;"></i>
                        </button>
                        <span class="like-count bg-transparent">
                            0
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="article-detail-body px-3">
            <div class="article-detail-body-description mt-1 mb-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos praesentium nesciunt error magni
                molestias
                vel
                provident quos dolorem in vero nihil, deserunt natus, odio voluptate sunt asperiores a quam
                voluptas.
            </div>
        </div>
    </div>
    <div class="article-comment">
        <div class="comment-header border-bottom d-flex align-items-center mb-2 justify-content-between px-1 pb-2">
            <p class="mb-0 px-3">
                <span class="comment-count">0</span>
                &nbsp;Komentar
            </p>
        </div>
        <div class="new-comment d-flex mb-2">
            <picture class="bg-white  w-25 overflow-hidden rounded-circle d-none d-sm-block"
                style="aspect-ratio: 1/1; height: 100%; min-width: 52px;max-width: 52px;">
                <img alt="" class=" w-25">
            </picture>

            <div class="new-comment-editor-container bg-white text-black rounded overflow-hidden flex-grow-1 ms-2">
                <div id="komentar-editor">
                </div>
            </div>
        </div>

        <div class="comment-sub-header mb-2">
            <form class="d-flex column-gap-2 justify-content-end ">
                <div class="comment-sort-by">
                    <input type="radio" name="sort-by" value="terbaru" id="terbaru" class="d-none" checked>
                    <label for="terbaru">Terbaru</label>
                </div>
                <div class="comment-sort-by">
                    <input type="radio" name="sort-by" value="terlama" id="terlama" class="d-none">
                    <label for="terlama">Terlama</label>
                </div>
            </form>
        </div>

        <div class="comment-container d-flex flex-column row-gap-2 ">

        </div>
    </div>
</div>