<div class="kuliner-container">
    <div class="kuliner-post-header d-flex justify-content-between px-2 mb-4">
        <button class="new-post-btn btn btn-primary pt-1">
            Post
        </button>
        <form action="" class="search-bar pb-2 ">
            <input type="text" placeholder="Cari..." class="search-input pt-1 ">
            <button class="search-btn pt-1"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <div class="kuliner-post-body">
        <div class="kuliner-post-list row row-cols-2 gx-0 px-2">

        </div>
    </div>
</div>