<div class="recipe-container">
    <div
        class="recipes-list row gx-0 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-ls-5 row-gap-5 column-gap-3 px-2 justify-content-center mb-5">
    </div>
    <div>
        <div class="loading-recipe mb-4 d-flex align-items-center justify-content-center">
            <div>
                <div class="loader the-bar-loader"></div>
            </div>
        </div>
        <div class="last-recipe-message d-none mb-4">
            <h1 class="text-white">Last Page</h1>
        </div>
    </div>
</div>