.modal#my-profile .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}

.modal#my-profile .profile-content {
    position: relative;
    top: -40px;
}

.modal#my-profile .profile-img {
    position: relative;
    width: fit-content;
    margin: auto auto 24px auto;
}

.modal#my-profile .profile-img img {
    aspect-ratio: 1/1;
    width: 80px;
    border-radius: 50%;
    background-color: grey;
    border: 4px solid transparent;
    outline: 2px solid white;
}

.modal#my-profile .profile-img label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    border-radius: 8px;
}

.modal#my-profile .profile-info {
    display: flex;
    flex-direction: column;
}

.modal#my-profile .personal-info>* {
    margin: auto;
    display: inline-flex;
    align-items: end;
    position: relative;
    max-width: 80%;
}

.modal#my-profile .personal-info [contenteditable] {
    max-width: 100%;
    min-width: 50px;
    outline: none;
    padding: 0 10px;
}

.modal#my-profile .personal-info [contenteditable]:focus {
    border-bottom: 1.5px solid blue;
}

.modal#my-profile .personal-info [contenteditable]:not(:focus) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal#my-profile .personal-info .is-editable label {
    display: inline-block;
    position: absolute;
    right: -24px;
}

.modal#my-profile .user-more-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0 20px;
    column-gap: 20px;
}

.modal#my-profile .user-more-info>* {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    flex-grow: 1;
    padding: 16px 5px 5px 5px;
    border-radius: var(--bs-border-radius-lg);
    align-self: stretch;
    transition: all 300ms;
}

.modal#my-profile .user-more-info>*:hover {
    transform: translateY(-5px);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.modal#my-profile .user-more-info>div> :nth-child(1) {
    text-align: center;
}

.modal#my-profile .user-more-info [class*=-stats] {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.modal#my-profile.skelleton {
    cursor: wait;
}

.modal#my-profile.skelleton .skelleton-items {
    color: transparent;
    background-color: #e0e0e0;
    animation: skeleton-loading 1s linear infinite alternate;
}

.modal#my-profile.edited .modal-footer {
    display: block;
}

.modal#my-profile .modal-footer {
    display: none;
}

.modal#my-profile::-webkit-scrollbar {
    display: none;
}