body #app .tagify__tag>div::before {
    background-color: var(--tag-bg);
}

#app .tagify__tag:focus div::before,
#app .tagify__tag:hover:not([readonly]) div::before {
    background-color: var(--tag-hover);
}

body #app tags.tagify.direction-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-right: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

body #app tags.tagify.direction-column.list-style-number {
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
    padding-inline-start: 30px;
    unicode-bidi: isolate;
}

body #app tags.tagify.direction-column.list-style-number>:is(tag, .tagify__input) {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

body #app tags.tagify.direction-column.list-style-number tag .tagify__tag__removeBtn {
    height: -webkit-fill-available;
    position: absolute;
    aspect-ratio: 1 / 1;
    right: 0;
    width: auto;
    z-index: 1;
}

#app .tagify__tag__removeBtn:hover+div::before {
    box-shadow: none !important;
    transition: background-color .2s;
    background-color: var(--tag-remove-bg) !important;
}

.ql-editor.ql-editor-output {
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.ql-editor.ql-editor-output blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}