.post-article #new-description {
    height: 14rem;
    overflow-y: scroll;
}

.post-recipe #new-description {
    height: 8rem;
    max-height: 14rem;
    overflow-y: scroll;
}

:is(.post-recipe, .post-article) form {
    max-width: 600px;
}

.post-recipe .new-ingredients-wrapper tags {
    max-height: 300px;
}

:is(.post-recipe, .post-article) .back-nav {
    max-width: 650px;
    margin: auto;
}

:is(.post-recipe, .post-article) .form-text {
    color: grey;
    margin-left: 1rem;
}

:is(.post-article, .post-recipe) .required::after {
    content: " *";
    color: red;
}

:is(.post-article, .post-recipe) .thumbnail-attention h5 {
    font-size: 1rem;
}

:is(.post-article, .post-recipe) .thumbnail-attention .bi.bi-cloud-upload {
    font-size: 1.7rem;
}

@media screen and (min-width: 576px) {
    :is(.post-article, .post-recipe) .thumbnail-attention .bi.bi-cloud-upload {
        font-size: 40px;
    }

    :is(.post-article, .post-recipe) .thumbnail-attention h5 {
        font-size: 1.25rem;
    }
}

:is(.post-article, .post-recipe) .thumbnail-attention .bi.bi-cloud-upload {}

:is(.post-recipe, .post-article) .input-drag-field {
    aspect-ratio: 3/2;
}