.comment-items :is(picture, img) {
    aspect-ratio: 1/1;
    height: 100%;
    width: 52px;
}

.comment-items .comment-username {
    line-height: 1rem;
    color: #337ab7;
}

.comment-items .comment-body .comment-msg p {
    margin-bottom: 0;
}