<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style class="style-before-load">
        body {
            overflow: hidden;
        }
    </style>
    <style>
        body>[class*=loader-container] {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            z-index: 100;
            cursor: wait;
        }

        body>div.pizza-loader-container {
            --pizza-bg-color: #212529;
            background-color: var(--pizza-bg-color);
        }

        .pizza-loader {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 8px solid #d1914b;
            box-sizing: border-box;
            --c: no-repeat radial-gradient(farthest-side, #d64123 94%, #0000);
            --b: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
            background:
                var(--c) 11px 15px,
                var(--b) 6px 15px,
                var(--c) 35px 23px,
                var(--b) 29px 15px,
                var(--c) 11px 46px,
                var(--b) 11px 34px,
                var(--c) 36px 0px,
                var(--b) 50px 31px,
                var(--c) 47px 43px,
                var(--b) 31px 48px,
                #f6d353;
            background-size: 15px 15px, 6px 6px;
            animation: l4 3s infinite;
        }

        @keyframes l4 {
            0% {
                -webkit-mask: conic-gradient(#0000 0, #000 0)
            }

            16.67% {
                -webkit-mask: conic-gradient(#0000 60deg, #000 0)
            }

            33.33% {
                -webkit-mask: conic-gradient(#0000 120deg, #000 0)
            }

            50% {
                -webkit-mask: conic-gradient(#0000 180deg, #000 0)
            }

            66.67% {
                -webkit-mask: conic-gradient(#0000 240deg, #000 0)
            }

            83.33% {
                -webkit-mask: conic-gradient(#0000 300deg, #000 0)
            }

            100% {
                -webkit-mask: conic-gradient(#0000 360deg, #000 0)
            }
        }
    </style>
</head>
</head>

<body class="d-flex flex-column min-vh-100 container-fluid overflow-y-scroll px-0 bg-dark ">
    <div class="pizza-loader-container">
        <div class="pizza-loader-wrapper" style="margin: auto;">
            <div class="pizza-loader"></div>
        </div>
    </div>
    <div class="spinner-loader-container d-none">
        <div class="spinner-loader-wrapper" style="margin: auto;">
            <div class="spinner-loader"></div>
        </div>
    </div>
    <nav class="z-3 d-flex flex-column w-100">
        <div class="nav-backdrop w-100 position-absolute flex-grow-1 h-100"></div>
        <div
            class="d-flex justify-content-between align-items-center position-fixed z-1 w-100 px-1 px-sm-2 px-md-3 px-xl-4">
            <a class="web-logo  rounded-circle overflow-hidden ms-2" is="link-router" href="/home">
                <img alt="qulinery icon" width="44" height="44" class=" bg-secondary rounded-circle overflow-hidden"
                    src="./public/img/qulinery-sm.webp">
            </a>
            <div class="hamburger d-md-none button-44" tabindex="0" data-bs-toggle="offcanvas"
                data-bs-target="#nav-mobile-offcanvas" aria-controls="nav-mobile-offcanvas">
                <i class="bi bi-list text-white"></i>
            </div>
            <div class="offcanvas-md offcanvas-end d-md-none" data-bs-scroll="true" tabindex="-1"
                id="nav-mobile-offcanvas" aria-labelledby="nav-mobile-offcanvasLabel">
                <div class="offcanvas-header">
                    <!-- <h5 class="offcanvas-title" id="nav-mobile-offcanvasLabel">Kulinery</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                        data-bs-target="#nav-mobile-offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="h-100 d-flex flex-column px-1 px-sm-4 nav-mobile">
                        <a href="/home" is="link-router" class="button-44 nav-link d-flex align-items-center ">Home</a>
                        <a href="/resep" is="link-router"
                            class="button-44 nav-link  d-flex align-items-center ">Resep</a>
                        <a href="/artikel" is="link-router"
                            class="button-44 nav-link  d-flex align-items-center ">Artikel</a>
                        <div class="dropdown mt-auto w-100  sign-option">
                            <div class="w-100 d-flex">
                                <button type="button"
                                    class="btn d-flex flex-grow-1 align-items-center d-none short-info">
                                    <picture class="profile-picture d-none">
                                        <img src="" alt="" style="aspect-ratio: 1/1; height: 36px;"
                                            class="rounded-circle">
                                    </picture>
                                    <span id="signin-username" class="me-auto ms-3 ms-sm-4">Hallo</span>
                                </button>
                                <button class="btn btn-outline-success bg-success-subtle pt-1 login-btn">Masuk</button>
                                <button type="button" class="btn dropdown-toggle-split d-none user-option-btn"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="">
                                        <i class="bi bi-three-dots-vertical" style="font-size: 20px;"></i>
                                    </span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button type="button" class="dropdown-item my-profile-btn"
                                            data-bs-toggle="modal" data-bs-target="#my-profile">
                                            Profileku
                                        </button></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><button class="dropdown-item logout-btn">Keluar</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex align-items-center nav-desktop position-relative column-gap-2 text-white">
                <a href="/home" is="link-router" class="nav-link button-44 px-2 "><span>Home</span></a>
                <a href="/resep" is="link-router" class="nav-link button-44 px-2 "><span>Resep</span></a>
                <a href="/artikel" is="link-router" class="nav-link button-44 px-2 "><span>Artikel</span></a>
                <div class="dropdown sign-option">
                    <button class="btn btn-outline-success bg-success-subtle pt-1 login-btn">Masuk</button>
                    <a class="btn align-items-center column-gap-1 py-0 user-option-btn" href="javascript:void(0)"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <picture class="profile-picture d-none">
                            <img src="" alt="" style="aspect-ratio: 1/1; height: 36px;" class="rounded-circle">
                        </picture>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="dropdown-item my-profile-btn" data-bs-toggle="modal"
                                data-bs-target="#my-profile">
                                Profileku
                            </button>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item logout-btn">
                                Keluar
                            </button></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column flex-grow-1 px-0 px-lg-5">
        <div class="hero-container position-relative mb-4">
            <div class="hero-img-wrapper">
                <picture class="">
                    <!-- <source media="(max-width: 670px)" srcset="./public/img/hero-img-small.webp"> -->
                    <!-- <source media="(min-width: 671px)" srcset="./public/img/hero-img-large.webp"> -->
                    <img src="./public/img/hero-img.webp" alt="">
                </picture>
            </div>
            <div
                class="hero-content-wrapper position-absolute top-0 h-100 w-100 pt-5  d-flex flex-column justify-content-center align-items-center text-white w-75 px-4 text-center">
                <h2>Indonesian Culinary</h2>
                <p>Share your recipes and food experience here.</p>
            </div>
        </div>
        <div id="app" class="flex-grow-1"></div>
        <footer class="text-center py-1 mt-4 text-white rounded-top-4 pt-4">
            <div>
                <h4>Qulinery</h4>
                <p>Temukan resep masakan asli indonesia disini.</p>
            </div>
            <div>
                <ul class="d-flex column-gap-1 justify-content-center ps-0 " style="list-style: none;">
                    <li><a href="/home" is="link-router"
                            class="nav-link button-44 px-2 d-flex align-items-center"><span>Home</span></a></li>
                    <li><a href="/artikel" is="link-router"
                            class="nav-link button-44 px-2 d-flex align-items-center"><span>Kuliner</span></a></li>
                    <li><a href="/resep" is="link-router"
                            class="nav-link button-44 px-2 d-flex align-items-center"><span>Resep</span></a></li>
                </ul>
            </div>
            <div>
                <p>Copyright &copy;2024 Qulinery</p>
            </div>
        </footer>
    </div>
    <div class="modal fade skelleton" id="my-profile" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="my-profileLabel" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="my-profile-form">
                    <div class="modal-body p-0">
                        <div class="container d-flex justify-content-center align-items-center px-0">
                            <div class="card p-0 w-100 overflow-hidden">
                                <div class="banner overflow-hidden">
                                    <img src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect width='100' height='100' fill='transparent'/></svg>"
                                        class="img-fluid">
                                </div>
                                <div class="profile-content">
                                    <div
                                        class="profile-img text-center d-flex justify-content-center align-items-center">
                                        <img src="" class="rounded-circle skelleton-items" width="80">
                                        <input type="file" name="profilePicture" hidden id="personal-info-picture"
                                            is="input-file" accept="image/jpeg, image/jpg, image/webp" max-size="2">
                                        <label for="personal-info-picture">
                                            <i class="bi bi-pencil-square"></i>
                                        </label>
                                    </div>
                                    <div class="text-center profile-info">
                                        <div class="personal-info mb-1">
                                            <div class="is-editable">
                                                <label for="personal-info-name"><i
                                                        class="bi bi-pencil-fill"></i></label>
                                                <input type="text" class="user-display-name" name="name"
                                                    id="personal-info-name" hidden>
                                                <span class="user-display-name skelleton-items"
                                                    contenteditable="false">fahim</span>
                                            </div>
                                        </div>
                                        <div class="personal-info  mb-1">
                                            <span class="text-truncate user-email skelleton-items"
                                                id="personal-info-email" disabled>user@gmail.com</span>
                                        </div>
                                        <div class="personal-info mb-1">
                                            <span class="text-truncate user-uid skelleton-items">990jawd8i90</span>
                                        </div>
                                        <div class="d-flex mt-4 user-more-info">
                                            <div class="contribution">
                                                <h5 class="border-1 border-bottom pb-1">Kontribusi</h5>
                                                <div class="article-stats">
                                                    <span class="user-article-posted skelleton-items">8,797</span>
                                                    <h6 class="mb-0">Artikel</h6>
                                                </div>
                                                <div class="recipe-stats">
                                                    <span class="user-recipe-posted skelleton-items">142</span>
                                                    <h6 class="mb-0">Resep</h6>
                                                </div>
                                            </div>
                                            <div class="activities">
                                                <h5 class="border-1 border-bottom pb-1">Aktifitas</h5>
                                                <a is="link-router" href="/liked-recipe" class="article-stats nav-link">
                                                    <span class="user-liked-recipe skelleton-items">8,797</span>
                                                    <h6 class="mb-0">Resep Disukai</h6>
                                                </a>
                                                <a is="link-router" href="/liked-article" class="recipe-stats nav-link">
                                                    <span class="user-liked-article skelleton-items">142</span>
                                                    <h6 class="mb-0">Artikel Disukai</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button onclick="document.body.scrollIntoView({behavior:'smooth'})" class="scrollToTop rounded-2"><i
            class="bi bi-chevron-double-up"></i></button>
</body>

</html>